.tooltip {
  background-color: var(--color-background);
  border-radius: 2px;
  max-width: 500px;
  max-width: min(500px, calc(100vw - 16px));
  padding: 16px;
  z-index: 10;
  pointer-events: none;
  box-shadow: var(--shadow);
  will-change: transform;
}
