.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  padding: 8px;
  background-color: #03a9f422;
  border-radius: 2px;
  display: grid;
  grid-template:
    "icon        type  " min-content
    "icon        title " 1fr /
     min-content 1fr;
  gap: 8px;
  max-width: 560px;
  flex: 1 400px;
  text-decoration: none;
  transition: box-shadow .3s ease;
}

.card[data-type=YouTube] {
  background-color: #f4433622;
}

.card[data-type=Discord] {
  background-color: #3440f421;
}

.card:hover .title {
  text-decoration: 2px underline;
}

.card > img {
  grid-area: icon;
  border-radius: 2px;
}

.type {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-text);
  opacity: .75;
  margin-top: 4px;
}

.title {
  line-height: 1.4;
  line-clamp: 2;
}
