table > thead > tr > th.totalColumn {
  padding-left: 32px;
}

.listIcon {
  display: inline-block;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: var(--color-background-light);
}
