.statsRow {
  background-color: var(--color-background-light);
  padding: 32px 16px;
  margin: -16px -16px 16px -16px;
  display: flex;
  gap: 32px 64px;
  min-height: 100px;
  flex-wrap: wrap;
}

.stat {
  font-size: 24px;
  color: var(--color-text-muted);
}

.statCount {
  font-size: 36px;
  font-weight: 500;
  display: inline;
}

@media(max-width: 640px) {
  .statsRow { gap: 16px 32px; min-height: 82px; }
  .stat { font-size: 16px; }
  .statCount { font-size: 18px; }
}
@media(max-width: 480px) {
  .statsRow {
    flex-direction: column;
    align-items: center;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 32px;
}
.heroContent {
  display: flex;
  flex-direction: column;
  color: #fff;
  z-index: 1;
}

.heroTitle {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font-bitter);
  font-size: 64px;
  --icon-size: 1em;
}

.heroSubtitle {
  font-size: 18px;
  border-top: 2px solid #fff;
  padding-top: 8px;
  font-weight: 500;
  margin: 0 auto;
}

@media(max-width: 800px) {
  .heroTitle { font-size: 48px; }
}

@media(max-width: 640px) {
  .hero { padding: 16px; }
  .heroTitle { font-size: 32px; }
  .heroSubtitle {
    font-size: 16px;
    border-top: 0;
  }
}

/* Everything below is just for the 10 year anniversary design */

.anniversary {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: -8px;
}

.anniversary::before, .anniversary::after {
  content: '';
  width: 32px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 10px 24px;
}

.hero::after, .hero::before {
  content: '';
  background: url(./party.svg) no-repeat;
  width: 420px;
  height: 160px;
  position: absolute;
  top: 0;
  max-width: 25%;
  min-width: 200px;
}

.hero::before {
  left: 0;
  transform: scaleX(-1);
}
.hero::after {
  right: 0;
}

@media(max-width: 640px) {
  .hero { margin-top: 56px; }
  .anniversary { font-size: 16px; }
  .anniversary::before, .anniversary::after {
    height: 2px;
    margin: 6px 16px;
  }
}
