.infobox {
  border-left: 4px solid #03a9f4;
  background-color: #e1f5fe;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #0288d1;
}

.warning {
  border-left: 4px solid #ffc107;
  background-color: #fff8e1;
  color: #ffa000;
}

.content {
  flex: 1;
  margin: 0;
  color: rgba(0 0 0 / .9);
}
