.code {
  font-size: 14px;
  line-height: 20px;
  margin: 16px 0;
  overflow-x: auto;
}

.border {
  border: 1px solid var(--color-border-dark);
  background-color: var(--color-background-light);
}

.codeBorder {
  composes: code border;

  border: 1px solid var(--color-border-dark);
  border-left: 0;
  border-radius: 0 2px 2px 0;
  background-color: var(--color-background-light);
  margin-left: -16px;
  padding: 16px;
}

.inline {
  font-size: 0.875em;
}

.inlineBorder {
  composes: inline border;

  border-radius: 2px;
  padding: 0 4px;
}
