.wrapper {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 16px;
}

.description {
  flex: 1;
  min-width: 66%;
  margin-bottom: 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}
