.main {
  grid-area: main;

  display: grid;
  grid-template:
    "headline infobox padding" min-content
    "content  infobox .      " min-content
    "content  toc     .      " 1fr /
    calc(100% - clamp(250px, 25%, 360px) - 16px) clamp(250px, 25%, 360px) 16px;
}

.headline {
  grid-area: headline;

  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-light);
  padding: 16px;

  display: grid;
  grid-template:
    "icon        title      actions" 1fr
    "icon        breadcrumb actions" min-content /
     min-content 1fr        min-content;
}

.headlineWithoutInfobox {
  composes: headline;
  grid-column-end: infobox;
}

.icon {
  grid-area: icon;

  margin-right: 16px;
}

.icon > img {
  width: 48px;
  height: 48px;
}

.title {
  grid-area: title;

  font-family: var(--font-bitter);
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  padding: 0;

  color: var(--color-rarity);
}

.breadcrumb {
  grid-area: breadcrumb;
  color: var(--color-text-muted);
  margin-top: 8px;
  font-size: 14px;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main::before {
  content: '';
  grid-area: padding;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-light);
}

.infobox {
  grid-area: infobox;

  border: solid var(--color-border);
  border-width: 0 1px 1px 1px;
  padding: 16px;
}

.tableOfContent {
  grid-area: toc;
}

.content {
  grid-area: content;
  padding: 16px;
}

@media (max-width: 920px) {
  .main {
    grid-template:
      "headline" min-content
      "infobox " min-content
      "content " 1fr /
       100%;
  }
  .main::before { display: none; }
  .infobox { border-width: 0 0 1px 0; }
  .tableOfContent { display: none; }
}
