.diffRow {
  display: flex;
}

.diffRow:last-child {
  flex: 1;
}

.diffHeader {
  background: var(--color-background-light);
  display: flex;
}

.left {
  padding: 8px 16px 8px var(--max-page-width--padding);
  flex: 1;
  max-width: 50%;
}

.right {
  padding: 8px var(--max-page-width--padding) 8px 16px;
  flex: 1;
  max-width: 50%;
  border-left: 1px solid var(--color-border-transparent);
}

.added .left { background-color: var(--color-diff-removed-light); }
.added .right { background-color: var(--color-diff-added); }

.removed .left { background-color: var(--color-diff-removed); }
.removed .right { background-color: var(--color-diff-added-light); }

.changed .left { background-color: var(--color-diff-removed); }
.changed .right { background-color: var(--color-diff-added); }


.header {
  grid-area: headline;

  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-light);
  padding-top: 16px;
  padding-bottom: 16px;

  display: grid;
  grid-template:
    "icon        title     " 1fr
    "icon        breadcrumb" min-content /
     min-content 1fr;

  gap: 8px 16px;
}

.title {
  grid-area: title;

  font-family: var(--font-bitter);
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  padding: 0;
  line-height: 26px;

  color: var(--color-rarity);
}

.breadcrumb {
  grid-area: breadcrumb;
  color: var(--color-text-muted);
  font-size: 14px;
}

@media(max-width: 760px) {
  .diffHeader { flex-direction: column; }
  .diffRow { flex-direction: column; }
  .diffRow .left { display: none; }
  .removed .left { display: block; }
  .removed .right { display: none; }
  .changed .left { display: block; }
  .left, .right { max-width: initial; }
  .right { border-left: none; }
}
