.diffRow {
  display: flex;
}

.diffRow:last-child {
  flex: 1;
}

.diffHeader {
  background: var(--color-background-light);
  display: flex;
}

.left {
  padding: 8px 16px;
  flex: 1;
  max-width: 50%;
}

.right {
  padding: 8px 16px;
  flex: 1;
  max-width: 50%;

  box-shadow: var(--shadow);
  clip-path: inset(0px 0 0px -8px);
}

.added .left { background-color: #F4433622; }
.added .right { background-color: #8bc34a33; }

.removed .left { background-color: #F4433633; }
.removed .right { background-color: #8bc34a22; }

.changed .left { background-color: #F4433633; }
.changed .right { background-color: #8bc34a33; }


.header {
  grid-area: headline;

  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-light);
  padding: 16px;

  display: grid;
  grid-template:
    "icon        title     " 1fr
    "icon        breadcrumb" min-content /
     min-content 1fr;

  gap: 8px 16px;
}

.title {
  grid-area: title;

  font-family: var(--font-bitter);
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  padding: 0;
  line-height: 26px;

  color: var(--color-rarity);
}

.breadcrumb {
  grid-area: breadcrumb;
  color: var(--color-text-muted);
  font-size: 14px;
}

@media(max-width: 760px) {
  .diffHeader { flex-direction: column; }
  .diffRow { flex-direction: column; }
  .diffRow .left { display: none; }
  .removed .left { display: block; }
  .removed .right { display: none; }
  .changed .left { display: block; }
}
