.container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.container:not(:first-child) {
  margin-top: 16px;
}

.left {
  composes: container;
  justify-content: flex-start;
}

.center {
  composes: container;
  justify-content: center;
}

.right {
  composes: container;
  justify-content: flex-end;
}

.space-between {
  composes: container;
  justify-content: space-between;
}
