.hero {
  position: relative;
  margin-top: -1px;
  padding: 32px 16px;
  border-bottom: 1px solid var(--color-border-transparent);
  background-color: var(--hero-color);
  background-image: url(./hero-mask.jpg), radial-gradient(at center, transparent, transparent 50%, rgba(0 0 0 / .1) 90%);
  background-blend-mode: multiply;
  background-position: left top;
  background-size: cover;
  text-shadow: 0 0 2px rgba(0 0 0 / .2);
  color: #fff;
}
