.page {
  padding: 0 16px;
  display: flex;
  gap: 16px;
}

.tableOfContent {
  order: 1;
  width: 25%;
  min-width: 250px;
  max-width: 360px;
  flex-shrink: 1;
}

@media(max-width: 760px) {
  .tableOfContent {
    display: none;
  }
}

.content {
  padding: 16px 0;
  flex: 1;
  max-width: 100%;
  width: 75%;
}
