.headline {
  font: inherit;
  margin: 32px 0 16px;
  display: flex;
  flex-wrap: wrap;
}

.headline:first-child {
  margin-top: 0;
}

.headline:last-child {
  margin-bottom: 0;
}

.content {
  font-family: var(--font-bitter);
  font-size: 20px;
  line-height: 36px;
  margin-right: 16px;

  flex: 1;
}

.actions {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
