.coins {
  white-space: nowrap;
}

.short, .long {
  composes: coins;
}

.short .hidden,
.short .pad {
  /** visually hide this, but still allow copying **/
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.long .pad {
  opacity: .25;
}

.g + .s,
.g + .c,
.s + .c {
  margin-left: .5em;
}

.g::after,
.s::after,
.c::after {
  content: '';
  display: inline-block;
  width: .875em;
  height: .875em;
  border-radius: 50%;
  vertical-align: -.1em;
  margin-left: 4px;
}

.g::after {
  background-color: gold;
}

.s::after {
  background-color: silver;
}

.c::after {
  background-color: #D3824C;
}
