# ensure correct node version and package manager are used
engine-strict=true

# disable update notifications in cli,
# the pnpm version is managed by renovate
update-notifier=false

# hoist eslint config to root node_modules
# otherwise eslint will not find plugins
# TODO: remove once everything uses flat config
public-hoist-pattern[]=*eslint*
