# ensure correct node version and package manager are used
engine-strict=true

# disable update notifications in cli,
# the pnpm version is managed by renovate
update-notifier=false

# verify node_modules integrity before running scripts
# the env var is used to allow disabling this in docker,
# as this doesn't work with `turbo prune`
verify-deps-before-run=${PNPM_VERIFY_DEPS_BEFORE_RUN:-prompt}

# hoist eslint config to root node_modules
# otherwise eslint will not find plugins
# TODO: remove once everything uses flat config
public-hoist-pattern[]=*eslint*
