.box {
  border: 2px solid var(--color-border-dark);
  border-radius: 2px;
  flex: 1;
  background-color: var(--color-background);

  display: flex;
  flex-direction: column;

  transition: border-color .3s ease;
}

.box:focus-within {
  border-color: var(--color-focus);
}

.row {
  display: grid;
  grid-template-columns: 40px 1fr;
  position: relative;
}

.row + .row {
  margin-top: 1px;
}

.row + .row::before {
  content: '';
  position: absolute;
  top: -1px;
  height: 1px;
  left: 16px;
  right: 16px;
  background-color: var(--color-border);
}

.lang {
  color: var(--color-text-muted);
  padding: 8px 0 8px 16px;
  font-size: 16px;
  align-self: center;
  transition: color .3s ease;
}

.row:focus-within .lang {
  color: var(--color-focus);
}

.input {
  padding: 8px;
  margin: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  align-self: stretch;
}

.input:focus {
  outline: none;
}
