.list {
  list-style: none;
  margin: 0;
  padding: 0;
  column-width: 420px;
  column-gap: 32px;
  column-count: 4;
}

.list > li {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
