.list {
  list-style: none;
  margin: 0;
  padding: 0;
  column-width: 600px;
  column-gap: 32px;
}

.list > li {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
