html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-wotfard, ''), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
}

b {
  font-weight: 500;
}

p {
  line-height: 1.5;
  margin: 0 0 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:where(:any-link) {
  color: var(--link-color, var(--color-focus));
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s ease;
}

a:where(:any-link:hover) {
  text-decoration-color: currentColor;
  transition: text-decoration-color .15s ease;
}

* {
  box-sizing: border-box;
}

.color-format--abilitytype {
  color: #797900;
}

.color-format--reminder {
  color: var(--color-text-muted);
}

.loading_svg__path {
  animation: rotate 1s ease-in-out infinite;
  will-change: transform;
}

@media (prefers-reduced-motion) {
  .loading_svg__path {
    animation-timing-function: linear;
    animation-duration: 3s;
  }
}

@keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}
