html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-wotfard, ''), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
  scroll-padding: 64px 16px 16px;
}

b, strong {
  font-weight: 500;
}

p {
  line-height: 1.5;
  margin: 0 0 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:where(:any-link) {
  color: var(--link-color, var(--color-focus));
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s ease;
}

a:where(:any-link:hover) {
  text-decoration-color: currentColor;
  transition: text-decoration-color .15s ease;
}

* {
  box-sizing: border-box;
}

.color-format--abilitytype,
.color-format--Task {
  color: #797900;
}

.color-format--reminder {
  color: var(--color-text-muted);
}

.color-format--flavor {
  color: #327d9b;
}

@media (prefers-color-scheme: dark) {
  .color-format--flavor {
    color: #3ab3c0;
  }
}
