:root {
  color-scheme: light;

  --max-page-width: 1920px;
  --max-page-width--padding: max(16px, (100vw - var(--max-page-width)) / 2 + 16px);

  --color-text: #000;
  --color-text-muted: #555;

  --color-background: #fff;
  --color-background-light: #f4f4f4;
  --color-background-light-transparent: #0000000b;

  --color-border: #eee;
  --color-border-dark: #ddd;
  --color-border-transparent: rgba(0 0 0 / .066);

  --color-focus: #245dc1;
  --shadow-focus: inset 0 0 0 2px var(--color-focus);

  --color-rarity-ascended-rgb: 231 0 97;
  --color-rarity-ascended: rgb(var(--color-rarity-ascended-rgb));
  --color-rarity-basic-rgb: 17 17 17;
  --color-rarity-basic: rgb(var(--color-rarity-basic-rgb));
  --color-rarity-exotic-rgb: 208 121 0;
  --color-rarity-exotic: rgb(var(--color-rarity-exotic-rgb));
  --color-rarity-fine-rgb: 0 110 247;
  --color-rarity-fine: rgb(var(--color-rarity-fine-rgb));
  --color-rarity-junk-rgb: 117 117 117;
  --color-rarity-junk: rgb(var(--color-rarity-junk-rgb));
  --color-rarity-legendary-rgb: 185 0 185;
  --color-rarity-legendary: rgb(var(--color-rarity-legendary-rgb));
  --color-rarity-masterwork-rgb: 23 136 0;
  --color-rarity-masterwork: rgb(var(--color-rarity-masterwork-rgb));
  --color-rarity-rare-rgb: 197 161 2;
  --color-rarity-rare: rgb(var(--color-rarity-rare-rgb));

  --shadow: 0 0 2px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.14);

  --color-diff-added: #8bc34a33;
  --color-diff-added-light: #8bc34a22;

  --color-diff-removed: #F4433633;
  --color-diff-removed-light: #F4433622;

  --color-error: #f44336;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-text: #dcddde;
    --color-text-muted: #999;

    --color-background: #36393f;
    --color-background-light: #303339;
    --color-background-light-transparent: #0000001c;

    --color-border: #222428;
    --color-border-dark: #222428;
    --color-border-transparent: rgba(0 0 0 / .37);

    --color-focus: #3da9ff;

    --color-rarity-ascended-rgb: 255 0 107;
    --color-rarity-ascended: rgb(var(--color-rarity-ascended-rgb));
    --color-rarity-basic-rgb: 203 203 203;
    --color-rarity-basic: rgb(var(--color-rarity-basic-rgb));
    --color-rarity-exotic-rgb: 225 147 0;
    --color-rarity-exotic: rgb(var(--color-rarity-exotic-rgb));
    --color-rarity-fine-rgb: 94 166 255;
    --color-rarity-fine: rgb(var(--color-rarity-fine-rgb));
    --color-rarity-junk-rgb: 163 163 163;
    --color-rarity-junk: rgb(var(--color-rarity-junk-rgb));
    --color-rarity-legendary-rgb: 221 0 221;
    --color-rarity-legendary: rgb(var(--color-rarity-legendary-rgb));
    --color-rarity-masterwork-rgb: 43 189 13;
    --color-rarity-masterwork: rgb(var(--color-rarity-masterwork-rgb));
    --color-rarity-rare-rgb: 241 199 2;
    --color-rarity-rare: rgb(var(--color-rarity-rare-rgb));

    --shadow: 0 0 2px rgba(0,0,0,0.24), 0 4px 8px rgba(0,0,0,0.28)
  }
}
