.wrapper {
  display: inline-block;
  vertical-align: top;

  grid-area: icon;

  overflow: hidden;

  border-radius: 2px;
}

.icon {
  vertical-align: top;

  transform: scale(133.333333%);

}

.iconFill {
  composes: icon;

  width: 100%;
  height: 100%;
}

.loading {
  composes: icon;

  background-color: #eee;
}
