.languages {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px 8px;
  align-items: baseline;
}

.lang {
  color: #555;
}

.tp {
  display: flex;
  justify-content: space-between;
  margin: 8px 0 16px;
}
