.attributes {
  display: grid;
  grid-template-columns: auto 1fr;
  line-height: 20px;
}

.attributes, .attributes > dt, .attributes > dd {
  margin: 0;
  padding: 0;
}

.attributes > dt {
  color: #1E971E;
  text-align: right;
}

.attributes > dd {
  margin-left: 8px;
}
