.link {
  color: #245dc1;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.name {
  border-bottom: 2px solid transparent;
  transition: border-bottom-color .3s ease;
}

.link:hover .name {
  border-bottom-color: var(--color-rarity, currentColor);
}
