.wrapper {
  grid-area: icon;
  border-radius: 2px;
  overflow: hidden;
  flex-shrink: 0;
}

.icon {
  vertical-align: top;
}

.loading {
  composes: icon;

  background-color: var(--loading-color, var(--color-background-light));
}

[data-icon-type="skill"] .icon {
  transform: scale(1.333333);
}
