.slots {
  display: flex;
  gap: 4px;
  margin: 8px 0;
}

.slot {
  border: 1px solid var(--color-text);
  border-radius: 2px;
  height: 8px;
  width: 8px;

  background-color: var(--color-text-muted);
}

.emptySlot {
  composes: slot;

  background-color: transparent;
}
