.overlay {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  z-index: 10;
}

.dialog {
  position: absolute;
  top: 128px;
  margin: 0 auto;
  max-height: calc(100vh - 160px);
  max-width: calc(100vw - 100px);
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  border: 1px solid var(--dialog-color-border);
  min-width: 500px;
  box-shadow: var(--shadow);
  border-radius: 2px;
  overflow: hidden;

  --table-sticky-top: -16px;
}

.title {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  line-height: 48px;
  padding-left: 16px;
  font-weight: 500;
}

.close {
  margin: 0;
  margin-left: auto;
  width: 48px;
  height: 48px;
  background: var(--color-background);
  color: var(--color-text);
  border: none;
  border-left: 1px solid var(--color-border);
  font: inherit;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  transition: background-color .3s ease;
}

.close:hover {
  background-color: var(--color-background-light);
}

.close:focus-visible {
  outline: none;
  box-shadow: var(--shadow-focus);
}

.content {
  padding: 16px;
  overflow: auto;
}
