.hero {
  margin: -32px -16px;
  padding: 32px 16px;
  position: relative;
  overflow: hidden;
}

.hero::after {
  content: '';
  display: block;
  width: 128px;
  height: 128px;
  background: url(./sab-sun.png);
  position: absolute;
  top: 50%;
  margin-top: -64px;
  left: 50%;
  margin-left: -64px;
  animation: sun 5s ease-in-out infinite both;
  z-index: 0;
}

@keyframes sun {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@media (max-width: 760px) {
  .hero::after {
    display: none;
  }
}
