.link {
  color: var(--link-color, var(--color-focus));
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  overflow: hidden;
}

.name {
  text-decoration: underline transparent;
  transition: text-decoration-color .3s ease;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0;
}

.link:hover .name {
  text-decoration-color: var(--color-rarity, currentColor);
  transition: text-decoration-color .15s ease;
}

.noRarity {
  --color-rarity: initial;
}
