.link {
  color: var(--link-color, var(--color-focus));
  display: inline-flex;
  align-items: center;
  justify-self: flex-start;
  text-decoration: none;
  gap: 8px;
  overflow: hidden;
}

.name {
  text-decoration: underline transparent;
  transition: text-decoration-color .3s ease;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0;
}

.link:hover .name {
  text-decoration-color: var(--color-rarity, currentColor);
  transition: text-decoration-color .15s ease;
}

.noRarity {
  --color-rarity: initial;
}

.missingIcon {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--color-background-light);
  border-radius: 2px;
  color: var(--color-text-muted);
  text-align: center;
  line-height: var(--icon-size);
  flex-shrink: 0;
}

.missingIcon::before {
  content: '?';
  opacity: .5;
}
