.hero {
  margin-top: -1px;
  padding: 32px 16px;
  background: var(--hero-color, #b7000d);
  border-bottom: 1px solid rgba(0 0 0 / .066);
  background-image: linear-gradient(-35deg, transparent, transparent 50%, rgba(255 255 255 / .2) 90%);
  text-shadow: 0 0 2px rgba(0 0 0 / .2);
  color: #fff;
}
