.layout {
  display: grid;
  grid-template:
    "menu" 96px
    "menuShadow" min-content
    "main" auto
    "footer" min-content /
    100%;

  min-height: 100vh;
}

.header {
  grid-area: menu;
}

.headerShadow {
  grid-area: menuShadow;
  height: 1px;
  top: 48px;
  display: block;
  position: sticky;
  background: rgba(0 0 0 / .066);
  border: 0;
  margin: 0;
  z-index: 2;
}

.headerMain {
  padding: 0 16px;
  display: flex;
  gap: 32px;
  align-items: center;
  height: 48px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background);
  z-index: 10;
}

.headerMainScrolled {
  composes: headerMain;
}

.menuButton {
  border: none;
  background: transparent;
  padding: 0;
  width: 48px;
  height: 48px;
  margin-right: -16px;
  margin-left: -16px;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  transition: opacity .1s ease;
  transition-delay: 0s;
  color: var(--color-text);
}

.headerMainScrolled .menuButton {
  pointer-events: all;
  opacity: 1;
  transition-delay: .15s;
}

.title {
  font-family: var(--font-bitter);
  font-weight: bold;
  display: flex;
  gap: 16px;
  margin-right: 32px;
  transition: transform .3s ease;
  font-size: 20px;
  align-items: center;
  color: var(--color-text);
  position: relative;
  --icon-color: #b7000d;
}

.loader {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px; height: 16px;
}

.loader > :global(.loader_svg__loader-a) { opacity: 0; animation: loader 1s .0s ease-in-out infinite; }
.loader > :global(.loader_svg__loader-b) { opacity: 0; animation: loader 1s .2s ease-in-out infinite; }
.loader > :global(.loader_svg__loader-c) { opacity: 0; animation: loader 1s .4s ease-in-out infinite; }

@keyframes loader {
  from { opacity: 0; }
  40% { opacity: .5; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.headerMainScrolled .title {
  transform: translateX(32px);
}

.headerNav {
  margin-top: 48px;

  position: absolute;
  left: 0; right: 0;
  z-index: 9;
  overflow-x: auto;
}

.headerNavVisible {
  composes: headerNav;

  position: fixed;
  border-bottom: 1px solid rgba(0 0 0 / .066);
  animation: slideIn .1s ease-out;
}

@keyframes slideIn {
  0% { transform: translateY(-48px) }
}

.right {
  margin-left: auto;
  margin-right: -8px;
  display: flex;
}

.loginLink {
  color: var(--color-text);
  padding: 8px;
  border-radius: 2px;
}

.loginLink:hover {
  text-decoration: none;
  background-color: var(--color-background-light);
}

.footer {
  grid-area: footer;
  padding: 32px 16px;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.footerLinks {
  display: flex;
  gap: 32px;
}

.disclaimer {
  width: 100%;
  padding: 16px 16px;
  border-top: 1px solid var(--color-border);
  color: var(--color-text-muted);
  font-size: 17px;
  line-height: 1.5;
}

.disclaimer + .disclaimer {
  border-top: 0;
  padding-top: 0;
}

@media(max-width: 760px) {
  .title > span { display: none; }
  .headerMain { gap: 16px; }
  .responsive { display: none; }
}
