.wrapper {
  display: inline-flex;
  cursor: pointer;
  padding: 8px 16px;
  line-height: 20px;
  border-radius: 2px;
  gap: 12px;
  flex-direction: row;
}

.wrapper:hover {
  background-color: #f9f9f9;
}

.wrapper:focus-visible {
  box-shadow: inset 0 0 0 2px #245dc1;
  outline: none;
}

.label {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 4px;
}

.input {
  display: none;
}

.radio {
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  position: relative;
  transition: background-color .3s ease, border-color .3s ease;
  color: transparent;
  display: flex;

  stroke-dasharray: 16 16;
  stroke-dashoffset: 16;
}

.input:checked ~ .radio {
  background-color: #245dc1;
  border-color: #245dc1;
  color: #fff;
}

.radio::after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  background-color: currentColor;
  border-radius: 8px;
  position: absolute;
  top: 4px;
  left: 4px;
}
