.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 8px 32px; /* row-gap, column-gap */
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 2560px;
}

.singleColumn {
  column-count: 1;
}

.list:not(:last-child) {
  margin-bottom: 1.5em;
}

.list > li {
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  gap: 8px;

  /* use inline to fix column rendering in safari */
  display: inline-flex;
  width: 100%;
}
