.badge {
  margin-left: 8px;
  color: var(--badge-color, var(--color-focus));
  border: 1px solid var(--badge-color, var(--color-focus));
  border-radius: 4px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1px 4px;
  vertical-align: 2px;
  background-color: var(--color-background);
}
