.button {
  composes: reset from '../../reset.module.css';

  background: none;
  display: block;
  margin: -8px -16px;
  padding: 16px 16px;
  width: calc(100% + 32px);
  cursor: pointer;
  color: inherit;
  transition: all .3s ease;
}

.buttonThin {
  composes: button;
  padding: 8px 16px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: var(--shadow-focus);
}
