.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: none;
}

.tableAuto {
  composes: table;
  width: auto;
}

.table > thead > tr > th {
  border-bottom: 3px solid var(--color-border);
  padding: 8px 16px;
  font-weight: 500;
  text-align: left;
  background: var(--color-background);
  position: sticky;
  top: var(--table-sticky-top, 48px);
  z-index: 1;
  white-space: nowrap;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  padding: 8px 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  transition: background-color .1s ease;

  /* set height to 1px. this get ignored by browsers, but allows childs to use height: 100% */
  height: 1px;
}

.table > thead > tr > th[align=right],
.table > tbody > tr > td[align=right],
.table > tbody > tr > th[align=right] {
  text-align: right;
  font-feature-settings: "tnum" 1;
}

.table > tbody > tr + tr > td,
.table > tbody > tr + tr > th {
  border-top: 1px solid var(--color-border);
}

.table > tbody > tr:hover > td,
.table > tbody > tr:hover > th {
  background-color: var(--color-background-light);
}

.table > tbody > tr[data-added] > td,
.table > tbody > tr[data-added] > th {
  background-color: var(--color-diff-added-light);
}

.table > tbody > tr[data-added]:hover > td,
.table > tbody > tr[data-added]:hover > th {
  background-color: var(--color-diff-added);
}

.table > tbody > tr[data-removed] > td,
.table > tbody > tr[data-removed] > th {
  background-color: var(--color-diff-removed-light);
}

.table > tbody > tr[data-removed]:hover > td,
.table > tbody > tr[data-removed]:hover > th {
  background-color: var(--color-diff-removed);
}

.button {
  /* remove button styles */
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
  color: inherit;
}

.sortButton {
  composes: button;

  display: block;
  width: calc(100% + 32px);
  margin: -8px -16px;
  padding: 8px 16px;
  text-align: inherit;
  border-radius: 2px;
}

.sortIcon {
  color: var(--color-text-muted);
  margin-left: 8px;
}

.sortButton:hover .sortIcon {
  color: var(--color-text);
}

.sortButton:focus-visible {
  outline: none;
  box-shadow: var(--shadow-focus);
}

.sort {
  composes: button;

  /* make room for the arrows */
  min-height: 16px;
  padding-right: 16px;
  position: relative;
}

.sort:after, .sort:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  border-style: solid;
  border-color: var(--color-text-muted) transparent;
}

.sort:before {
  bottom: calc(50% + 1px);
  border-width: 0 4px 6px 4px;
}

.sort:after {
  top: calc(50% + 1px);
  border-width: 6px 4px 0 4px;
}

.sortAsc, .sortDesc {
  composes: sort;
}

.sortAsc:before {
  border-color: currentColor transparent
}

.sortDesc:after {
  border-color: currentColor transparent
}

.group {
  font-weight: 500;
  background-color: var(--color-background-light);
}

.wrapper {
  overflow: clip;
  width: calc(100% + 32px);
  margin: 0 -16px 16px;
  padding: 0 16px;
}

@media(max-width: 760px) {
  .wrapper { overflow-x: auto; }
  .table { width: max-content; min-width: 100%; }
  .table > thead > tr > th { position: static; }
}

.small {
  width: 1px;
}
