.dropdown {
  --dropdown-color-border: #ddd;
  border: 1px solid var(--dropdown-color-border);
  background: #fff;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0 0 0 / .2);
  z-index: 2;
}

.arrow {
  width: 8px;
  height: 8px;
  background: #fff;
  border: 1px solid var(--dropdown-color-border);
  border-width: 1px 0 0 1px;
  border-radius: 2px 0 0 0;
  position: absolute;
  transform: rotate(calc(45deg + 90deg * var(--arrow-side)));;
}
