@charset "UTF-8";
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 13px 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: #245dc1; }

a:hover {
  text-decoration: underline; }

p {
  margin: 0 0 .5em 0; }

h2, h3, h4, h5, h6, b, strong, th {
  font-family: 'Segoe UI', 'Open Sans', sans-serif; }

#header {
  background: linear-gradient(#222222, #111111) #222222;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: relative;
  padding: 0 20px;
  color: #eee;
  line-height: 30px; }

#header h1 {
  margin: 0 10px 0 0;
  font-size: 22px;
  padding: 5px 0;
  font-family: Yanone KaffeeSatz, sans-serif; }

#header h1 > a {
  color: #eee;
  text-decoration: none; }

#header h1 > a:hover {
  color: #ccc;
  text-decoration: none; }

#header .headerButton {
  transition: all .3s;
  text-shadow: 0 1px #000;
  float: left;
  display: inline-block;
  padding: 5px 15px;
  color: white; }

#header .headerButton:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-decoration: none; }

#header .searchForm {
  float: right;
  position: relative;
  padding: 5px 0; }

#header .searchForm label {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 16px;
  margin: 12px 3px; }

#header .searchForm #q {
  border: none;
  outline: none;
  padding: 2px 5px 2px 24px;
  font: inherit;
  line-height: normal; }

#header .searchForm #q:focus {
  box-shadow: inset 0 0 4px 0 #ff7a00; }

#header .searchForm .submit {
  display: none; }

#wrapper {
  min-height: 100%;
  position: relative; }

#content {
  padding: 0 0 50px 0; }

#footerBar {
  text-align: center;
  color: #444;
  height: 30px;
  line-height: 30px;
  background-color: #f6f6f6;
  border: solid #eee;
  border-width: 1px 0;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

#footer {
  background-color: #fafafa;
  padding: 10px 20px 50px 20px; }

/*
#footerList {
	margin-top: 0; margin-bottom: 0;
	padding: 0;
	list-style-type: none; }
	#footerList > li {
		float: left;
		width: 196px; 
		margin-bottom: 20px; }
	#footerList ul {
		color: #999;
		font-size: 11px;
		margin: 5px 0 0 0; padding: 0;
		list-style-type: none; }
		#footerList ul > li {
			margin: 8px 0 8px 2px; }
		#footerList ul a {
			color: #666; }
*/
#footerList {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  -ms-column-width: 200px;
  -o-column-width: 200px;
  column-width: 200px;
  list-style-type: none; }

#footerList > li {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  column-break-inside: avoid;
  padding-bottom: 20px; }

#footerList ul {
  color: #999;
  font-size: 11px;
  margin: 5px 0 0 0;
  padding: 0;
  list-style-type: none; }

#footerList ul > li {
  margin: 8px 0 8px 2px; }

#footerList ul a {
  color: #666; }

.legalNotice {
  color: #999;
  font-size: 11px;
  clear: both; }

.legalNotice a {
  color: #8b8b8b; }

#notifications {
  margin: 0;
  padding: 0;
  list-style: none; }

#notifications > li {
  background-color: #f6f6f6;
  border-bottom: 1px solid #eee;
  padding: 5px 20px; }

#notifications .notificationContent {
  float: left; }

#notifications .notificationContent > p:last-child {
  margin-bottom: 0; }

#notifications .dismiss {
  float: right; }

.notice {
  border: 1px solid #7FDBFF;
  background-color: rgba(127, 219, 255, 0.2);
  padding: .5em;
  margin: 1em; }

.pageWidth {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }

.floatLeft {
  float: left; }

.codeWrap {
  color: #008000;
  background: #FAFAFA;
  border: 0 solid #DDD;
  border-width: 1px 0; }

.devTable {
  border: 1px solid #DDD; }

.devTable td, .devTable th {
  padding: 3px 7px;
  border: 1px solid #DDD;
  vertical-align: top; }

.devTable > tbody > tr > th {
  text-align: left; }

.devTable ul {
  margin: 0; }

.docList {
  list-style: none; }

.docList h4 {
  margin: 0; }

.docList li {
  margin-bottom: 1em; }

html.js .only-no-js, html.no-js .only-js {
  display: none; }

#tooltip {
  position: absolute;
  z-index: 100000;
  pointer-events: none;
  transition: opacity .5s;
  opacity: 0; }

#tooltip.visible {
  transition: opacity .3s .1s;
  opacity: 1; }

/* ITEMS */
.itemHeader {
  margin-top: 20px;
  position: relative;
  padding-left: 70px; }

.itemHeader img.icon {
  left: 0;
  top: 5px;
  position: absolute; }

.itemHeader h2 {
  margin: 0;
  font: 30px/1 'Open Sans Condensed';
  margin-bottom: 5px;
  font-weight: 300; }

.itemHeader .lang {
  color: #bbb;
  font: 11px/1.1 'Open Sans'; }

.itemHeader .langCode {
  color: #666;
  font-family: 'Droid Sans Mono', Consolas, monospace; }

.itemHeader .lang a {
  color: #666; }

.infobox {
  float: right;
  margin: 0 0 20px 20px;
  /*border: 1px solid #ccc;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.3);*/
  padding: 10px; }

.color-Ascended {
  color: #fb3e8d; }

.color-Basic {
  color: #000000; }

.color-Exotic {
  color: #fda500; }

.color-Fine {
  color: #4f9dfe; }

.color-Junk {
  color: #808080; }

.color-Legendary {
  color: #800080; }

.color-Masterwork {
  color: #2dc50e; }

.color-Rare {
  color: #f4c900; }

.chatlink {
  border: none;
  font: inherit;
  outline: none; }

.tooltip {
  display: inline-block;
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  padding: 15px;
  margin: 15px 15px 15px 0; }

.tooltip > header {
  font-family: 'Droid Serif', Georgia, serif;
  font-size: 1.15em;
  line-height: 1;
  font-weight: 100; }

.tooltip > p {
  margin: 0;
  color: #777; }

.attributes {
  overflow: hidden;
  margin: 1em 0; }

.attributes > dd {
  color: #1E971E;
  float: left;
  width: 45px;
  clear: both;
  text-align: right;
  padding: 0;
  margin: 0;
  position: absolute; }

.attributes > dt {
  padding: 0 0 0 .42em;
  margin: 0 0 0 45px; }

.upgradeSlot > .attributes {
  margin: 0; }

.unusedUpgradeSlot:first-of-type {
  margin-top: 1em; }

.unusedUpgradeSlot:last-of-type {
  margin-bottom: 1em; }

.unusedUpgradeSlot {
  margin: .25em 0; }

.upgradeSlot {
  margin: 1em 0; }

.upgradeSlot img {
  margin-right: .4em;
  vertical-align: text-top; }

.infusion_slots {
  list-style-type: none;
  margin: 1em 0;
  padding: 0; }

.suffixBonusList {
  padding: 0;
  list-style-type: none;
  counter-reset: suffixBonusList;
  position: relative;
  margin: 0; }

.suffixBonusList li {
  padding: 0 0 0 .42em;
  margin: 0 0 0 45px;
  counter-increment: suffixBonusList; }

.suffixBonusList li:before {
  float: left;
  width: 45px;
  clear: both;
  left: 0;
  padding: 0;
  margin: 0;
  text-align: right;
  position: absolute;
  content: "(" counter(suffixBonusList) ")"; }

.color-field {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.money {
  white-space: nowrap; }

.money .gold,
.money .silver,
.money .copper {
  padding-right: 1.6em;
  position: relative; }

.money .gold:after,
.money .silver:after,
.money .copper:after {
  content: '';
  position: absolute;
  height: .9em;
  width: .9em;
  display: block;
  border-radius: 50%;
  right: .3em;
  top: 50%;
  margin-top: -.45em; }

.money .gold:after {
  background: #FFD700; }

.money .silver:after {
  background: #C0C0C0; }

.money .copper:after {
  background: #D3824C; }

ul.itemList {
  -webkit-column-width: 450px;
  -moz-column-width: 450px;
  -o-column-width: 450px;
  -ms-column-width: 450px;
  column-width: 450px;
  list-style-type: none;
  padding: 0; }

ul.itemList > li {
  padding-top: 5px; }

.additionalSimilarItems {
  display: none; }

.recipeBox {
  background-color: #FBFBFB;
  padding: 15px;
  margin: 15px;
  width: 270px;
  display: inline-block;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.recipeBox > .output {
  border-top: 1px solid #E0E0E0;
  padding-top: 3px;
  margin: 4px 0 12px 0; }

.recipeBox > .unlockedBy {
  margin-bottom: 5px; }

.recipeBox > .timeToCraft {
  float: right; }

ul.ingredients {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.count {
  width: 32px;
  padding-right: 3px;
  display: inline-block;
  text-align: right; }

.count:not(:empty):after {
  content: '├ù'; }

.recipeTable {
  width: 100%; }

.recipeTable > tbody > tr {
  border-top: 1px solid #DDD; }

.recipeTable > tbody > tr > td {
  position: relative;
  padding: 5px 0; }

.recipeTable > tbody > tr > td:nth-child(2) {
  text-align: center; }

.recipeTable > tbody > .learnedFromItem > td:nth-child(1) {
  padding-bottom: 2em; }

.recipeTable .unlockedBy {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 75px;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.recipeTable .disciplines {
  font-size: 0; }

.filter {
  margin-bottom: 1em;
  float: right; }

.filter > h4 {
  font-size: 13px;
  margin: 0;
  padding: 3px 5px;
  display: inline-block;
  border-right: 1px solid #DDD; }

.filterDisciplines {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.filterButton {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px; }

.filterButton.enabled {
  cursor: pointer; }

.filterButton.enabled i {
  transition: all .3s; }

.filterButton.enabled:hover i {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px); }

.filterButton.enabled:before,
.filterButton.enabled:after {
  opacity: 0;
  transition: all .3s;
  content: '';
  width: 20px;
  height: 2px;
  background: #000;
  z-index: 10;
  top: 9px;
  left: 0px;
  position: absolute; }

.filterButton.enabled.active:before,
.filterButton.enabled.active:after {
  opacity: 1; }

.filterButton.enabled.active:hover:before,
.filterButton.enabled.active:hover:after {
  opacity: .5; }

.filterButton.enabled.active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.filterButton.enabled.active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.filterButton.disabled {
  opacity: 0.4;
  -webkit-filter: grayscale(1);
  cursor: auto; }

.recipeTable.filtered > tbody > tr {
  display: none; }

.recipeTable.filtered.filter-show-armorsmith > tbody > tr.discipline-armorsmith {
  display: table-row; }

.recipeTable.filtered.filter-show-artificer > tbody > tr.discipline-artificer {
  display: table-row; }

.recipeTable.filtered.filter-show-chef > tbody > tr.discipline-chef {
  display: table-row; }

.recipeTable.filtered.filter-show-huntsman > tbody > tr.discipline-huntsman {
  display: table-row; }

.recipeTable.filtered.filter-show-jeweler > tbody > tr.discipline-jeweler {
  display: table-row; }

.recipeTable.filtered.filter-show-leatherworker > tbody > tr.discipline-leatherworker {
  display: table-row; }

.recipeTable.filtered.filter-show-tailor > tbody > tr.discipline-tailor {
  display: table-row; }

.recipeTable.filtered.filter-show-weaponsmith > tbody > tr.discipline-weaponsmith {
  display: table-row; }

.smallMatchBox {
  min-width: 650px;
  padding: 5px 0 0;
  margin: 5px 0 0; }

.smallMatchBox dl {
  margin: 0; }

.matchListHeader > span,
.smallMatchBox dt,
.smallMatchBox dd {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  margin: 0;
  padding: 1px 5px;
  position: relative; }

.matchListHeader > .world,
.smallMatchBox dt {
  clear: left;
  text-align: right;
  width: 150px; }

.matchListHeader > span:nth-child(n+2),
.smallMatchBox dd {
  transition: width .3s;
  min-height: 1.5em;
  border-left-width: 1px;
  border-left-style: solid; }

.matchListHeader > .score,
.smallMatchBox dd.score {
  text-align: right;
  width: 250px; }

.matchListHeader > .income,
.smallMatchBox dd.income {
  width: 150px; }

.smallMatchBox .scoreBarLabel {
  position: absolute;
  left: 0;
  margin: 0 10px; }

.smallMatchBox .score .scoreBarLabel {
  right: 0; }

.smallMatchBox .scoreBar {
  line-height: 1.4em;
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block; }

.smallMatchBox .scoreBar .income {
  font-size: .8em; }

.smallMatchBox .scoreBar.red {
  background-color: #FF7469;
  background: linear-gradient(to bottom, #ff8e83 0%, #ff7469 100%); }

.smallMatchBox .scoreBar.blue {
  background-color: #33A7FF;
  background: linear-gradient(to bottom, #4dc1ff 0%, #33a7ff 100%); }

.smallMatchBox .scoreBar.green {
  background-color: #6CD997;
  background: linear-gradient(to bottom, #86f3b1 0%, #6cd997 100%); }

.matchListHeader > .objectives > span,
.smallMatchBox dd.objectives > span {
  display: inline-block;
  width: 30px;
  text-align: center; }

.smallMatchBox > .reset {
  clear: left;
  /*padding: 1em;
  box-sizing: border-box;
  box-sizing: moz-border-box;
  text-align: center;*/ }

@media (max-width: 790px) {
  .matchListHeader > .score,
  .smallMatchBox dd.score {
    width: 150px; }

  .matchListHeader > .income,
  .smallMatchBox dd.income {
    width: 100px; } }
@media (max-width: 620px) {
  .matchListHeader > .score,
  .smallMatchBox dd.score {
    width: 100px; }

  .matchListHeader > .income,
  .smallMatchBox dd.income {
    width: 75px; } }
.matchListHeader {
  min-width: 650px;
  font-weight: 700;
  font-family: 'Segoe UI', 'Open Sans', sans-serif; }

.matchList {
  border-color: #ddd; }

.dark .matchList {
  border-color: #444; }

.matchList * {
  border-color: inherit; }

.matchList .smallMatchBox {
  border-top-width: 1px;
  border-top-style: solid; }

.dark .matchList {
  color: #fff; }

.dark .matchList a {
  color: #72ACDA; }

.dark .smallMatchBox .scoreBar.red {
  background-color: #B30000;
  background: linear-gradient(to bottom, #b30000 0%, #990000 100%); }

.dark .smallMatchBox .scoreBar.blue {
  background-color: #005BC0;
  background: linear-gradient(to bottom, #005bc0 0%, #0041a6 100%); }

.dark .smallMatchBox .scoreBar.green {
  background-color: #0A663D;
  background: linear-gradient(to bottom, #0a663d 0%, #004d24 100%); }

i[class^="sprite-"] {
  display: inline-block;
  vertical-align: bottom; }

.js i[class^="sprite-"] {
  background-image: none; }

.no-js i[class^="sprite-"],
.js.no-webp i[class^="sprite-"] {
  background-image: url("../img/sprites.png"); }

.js.webp i[class^="sprite-"] {
  background-image: url("../img/sprites.webp"); }

i[class^="sprite-16-"] {
  width: 16px;
  height: 16px; }

i[class^="sprite-18-"] {
  width: 18px;
  height: 18px; }

i[class^="sprite-20-"] {
  width: 20px;
  height: 20px; }

i[class^="sprite-32-"] {
  width: 32px;
  height: 32px; }

i[class^="sprite-40-"] {
  width: 40px;
  height: 40px; }

i[class^="sprite-"][class$="-search"] {
  background-position: -60px -0px; }

i[class^="sprite-"][class$="-go"] {
  background-position: 0px 40px; }

i[class^="sprite-"][class$="-activation"] {
  background-position: -40px -0px; }

i[class^="sprite-"][class$="-armorsmith"] {
  background-position: -40px -20px; }

i[class^="sprite-"][class$="-artificer"] {
  background-position: -60px -20px; }

i[class^="sprite-"][class$="-chef"] {
  background-position: -80px -20px; }

i[class^="sprite-"][class$="-huntsman"] {
  background-position: -100px -20px; }

i[class^="sprite-"][class$="-jeweler"] {
  background-position: -120px -20px; }

i[class^="sprite-"][class$="-leatherworker"] {
  background-position: -140px -20px; }

i[class^="sprite-"][class$="-tailor"] {
  background-position: -160px -20px; }

i[class^="sprite-"][class$="-weaponsmith"] {
  background-position: -180px -20px; }

i[class^="sprite-"][class$="-infusion-defense"] {
  background-position: -120px  -0px; }

i[class^="sprite-"][class$="-infusion-offense"] {
  background-position: -140px  -0px; }

i[class^="sprite-"][class$="-infusion-utility"] {
  background-position: -160px  -0px; }

i[class^="sprite-"][class$="-upgradeslot"] {
  background-position: -180px  -0px; }

i[class^="sprite-"][class$="-homeworld"] {
  background-position: -20px -40px; }

i[class^="sprite-"][class$="-camp-gray"] {
  background-position: -40px -40px; }

i[class^="sprite-"][class$="-camp-red"] {
  background-position: -80px -40px; }

i[class^="sprite-"][class$="-camp-blue"] {
  background-position: -100px -40px; }

i[class^="sprite-"][class$="-camp-green"] {
  background-position: -120px -40px; }

i[class^="sprite-"][class$="-tower-gray"] {
  background-position: -60px -40px; }

i[class^="sprite-"][class$="-tower-red"] {
  background-position: -140px -40px; }

i[class^="sprite-"][class$="-tower-blue"] {
  background-position: -160px -40px; }

i[class^="sprite-"][class$="-tower-green"] {
  background-position: -180px -40px; }

i[class^="sprite-"][class$="-keep-gray"] {
  background-position: -40px -60px; }

i[class^="sprite-"][class$="-keep-red"] {
  background-position: -80px -60px; }

i[class^="sprite-"][class$="-keep-blue"] {
  background-position: -100px -60px; }

i[class^="sprite-"][class$="-keep-green"] {
  background-position: -120px -60px; }

i[class^="sprite-"][class$="-castle-gray"] {
  background-position: -60px -60px; }

i[class^="sprite-"][class$="-castle-red"] {
  background-position: -140px -60px; }

i[class^="sprite-"][class$="-castle-blue"] {
  background-position: -160px -60px; }

i[class^="sprite-"][class$="-castle-green"] {
  background-position: -180px -60px; }

i.loading {
  width: 3em;
  height: 1em;
  position: relative;
  display: inline-block;
  overflow: hidden; }

i.loading:after {
  position: absolute;
  content: '';
  width: .5em;
  height: .5em;
  top: -1.75em;
  background: transparent;
  left: 1.25em;
  -webkit-animation: loading 2s infinite ease;
  box-shadow: 0 2em 0 #aaa, -.75em 2em 0 #aaa, .75em 2em 0 #aaa; }

@-webkit-keyframes loading {
  0% {
    box-shadow: 0 2.0em 0 0 #aaa, -.75em 2.0em 0 0 #aaa, .75em 2.0em 0 0 #aaa; }

  25% {
    box-shadow: 0 2.0em 0 0 #aaa, -.75em 1.9em 0 0 #999, .75em 2.0em 0 0 #aaa; }

  50% {
    box-shadow: 0 1.9em 0 0 #999, -.75em 2.0em 0 0 #aaa, .75em 2.0em 0 0 #aaa; }

  75% {
    box-shadow: 0 2.0em 0 0 #aaa, -.75em 2.0em 0 0 #aaa, .75em 1.9em 0 0 #999; }

  100% {
    box-shadow: 0 2.0em 0 0 #aaa, -.75em 2.0em 0 0 #aaa, .75em 2.0em 0 0 #aaa; } }
.mainpageBanner {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 50px auto;
  box-shadow: 0 0 3px black; }

.js .mainpageBanner {
  background-image: none; }

.no-js[lang="de"] .mainpageBanner,
.js.no-webp[lang="de"] .mainpageBanner {
  background-image: url("../img/mainpage_de.png"); }

.js.webp[lang="de"] .mainpageBanner {
  background-image: url("../img/mainpage_de.webp"); }

.no-js[lang="en"] .mainpageBanner,
.js.no-webp[lang="en"] .mainpageBanner {
  background-image: url("../img/mainpage_en.png"); }

.js.webp[lang="en"] .mainpageBanner {
  background-image: url("../img/mainpage_en.webp"); }

.no-js[lang="es"] .mainpageBanner,
.js.no-webp[lang="es"] .mainpageBanner {
  background-image: url("../img/mainpage_es.png"); }

.js.webp[lang="es"] .mainpageBanner {
  background-image: url("../img/mainpage_es.webp"); }

.no-js[lang="fr"] .mainpageBanner,
.js.no-webp[lang="fr"] .mainpageBanner {
  background-image: url("../img/mainpage_fr.png"); }

.js.webp[lang="fr"] .mainpageBanner {
  background-image: url("../img/mainpage_fr.webp"); }

.mainpageBanner > form {
  position: absolute;
  left: 462px;
  top: 340px;
  width: 397px;
  height: 55px; }

.mainpageBanner > form > input[type="text"] {
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 13px 20px;
  font: 28px/1 'Open Sans Condensed', sans-serif;
  float: left;
  height: 100%;
  width: 341px; }

.mainpageBanner > form > input[type="submit"] {
  float: right;
  font-size: 0;
  display: block;
  width: 55px;
  height: 100%;
  padding: 0;
  background: transparent;
  border: none;
  float: right;
  box-sizing: border-box; }

#mainsearchAutocomplete {
  max-height: 0px;
  background: white;
  overflow: hidden;
  transition: all .5s;
  opacity: 0; }

#mainsearchAutocomplete.visible {
  max-height: 600px;
  opacity: 1; }

#mainsearchAutocomplete.visible.loading {
  opacity: .3; }

#mainsearchAutocomplete > a {
  display: block;
  padding: 10px;
  font: 20px/32px 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .3s;
  color: #222; }

#mainsearchAutocomplete > a:hover {
  text-decoration: none;
  background-color: #eee; }

#mainsearchAutocomplete > a > img {
  margin-right: .5em; }

.banner {
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center 0px;
  min-height: 250px; }

.js .banner {
  background-image: none; }

.no-js .banner,
.js.no-webp .banner {
  background-image: url(../img/header.png); }

.js.webp .banner {
  background-image: url(../img/header.webp); }

.banner .header {
  margin: 0 auto 25px;
  max-width: 800px; }

.banner .header img {
  width: 100%;
  height: auto; }

.bannerSearch {
  position: relative;
  font-size: 30px;
  line-height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: white; }

.bannerSearch label,
.bannerSearch button {
  font-family: 'Cronos Pro', 'Yanone KaffeeSatz', sans-serif;
  line-height: 55px;
  border: 0 solid transparent;
  padding: 0 15px;
  position: relative;
  font-weight: bold; }

.bannerSearch label:after,
.bannerSearch button:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1px;
  margin: 5px 0;
  height: 45px;
  background: #ddd; }

.bannerSearch label {
  color: #590000;
  border-right-width: 1px;
  float: left; }

.bannerSearch label:after {
  right: -1px; }

.bannerSearch button {
  transition: all .3s;
  display: block;
  background: transparent;
  outline: none;
  border-left-width: 1px;
  float: right; }

.bannerSearch button:hover {
  background: #eee; }

.bannerSearch button:after {
  left: -1px; }

.bannerSearch button i {
  vertical-align: text-bottom; }

.bannerSearchInput {
  height: 55px;
  position: relative;
  overflow: hidden; }

.bannerSearch #mainsearch {
  font: 30px/1 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  height: 55px;
  border: none; }

.bannerSearch #mainsearch:focus {
  outline: none; }

@media (max-width: 800px) {
  .banner .header {
    max-width: 400px; }

  .banner {
    background-position: center -75px;
    min-height: 175px; } }
#searchSuggestionbox {
  position: absolute;
  width: 400px;
  right: 0;
  top: 1.7em;
  margin-top: 9px;
  z-index: 50;
  background: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  line-height: 1em;
  display: none; }

#searchSuggestionbox.visible {
  display: block; }

#searchSuggestionbox header {
  background: #ddd;
  font-weight: 700;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  padding: 5px 10px;
  color: #111; }

#searchSuggestionbox ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#searchSuggestionbox li:nth-last-child(n+2) {
  border-bottom: 1px solid #ddd; }

#searchSuggestionbox a {
  padding: 5px 10px;
  display: block; }

#searchSuggestionbox a:hover,
#searchSuggestionbox a:focus {
  text-decoration: none;
  background-color: #f4f4f4; }

#searchSuggestionbox a img {
  vertical-align: text-bottom; }

.formTable {
  min-width: 400px; }

.formTable th {
  border-right: 1px solid #ddd;
  text-align: right; }

.formTable td, .formTable th {
  padding: 0 5px; }

.textbox {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font: inherit;
  padding: .3em .75em;
  margin: .3em; }

.button {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font: inherit;
  padding: .3em .75em;
  margin: .3em; }

.button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.button:active {
  background: #f9f9f9;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), inset 0 0 3px rgba(0, 0, 0, 0.3); }

.radio {
  display: none; }

.radio + label {
  display: inline-block;
  margin: .3em; }

.radio + label:before {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: inline-block;
  content: '';
  background-clip: padding-box;
  margin-right: .3em; }

.radio + label:hover:before {
  background-color: #f4f4f4; }

.radio:checked + label:before {
  background: #444;
  background: radial-gradient(circle at 50% 50%, #444444 0%, #555555 42%, transparent 50%); }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
