.status {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: -1px;
  border-radius: 6px;
  margin-right: 8px;
}

.queued {
  composes: status;
  background-color: #2196f3;
}

.running {
  composes: status;
  background-color: #FFC107;
}

.error {
  composes: status;
  background-color: #ff0000;
}

.success {
  composes: status;
  background-color: #009f2c;
}
