.toc {
  position: sticky;
  top: 48px;
  padding: 16px 0;
  margin: 0;
  list-style: none;
}

.item {

}

.link {
  display: block;
  text-decoration: none;
  color: inherit;

  padding: 8px 0 8px 12px;
  border-left: 4px solid var(--color-border);
}

.link:hover {
  background-color: var(--color-background-light);
  border-left-color: var(--color-border-dark);
  cursor: pointer;
}

.activeLink {
  composes: link;

  font-weight: 500;
  border-left-color: var(--color-rarity, var(--hero-color, var(--color-text)));
}

.activeLink:hover {
  border-left-color: var(--color-rarity, var(--hero-color, var(--color-text)));
}

.anchor {
  position: absolute;
  margin-top: -64px;
}
