.outputColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
}

.output {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.unlock {
  display: flex;
  flex-direction: column;
}
