.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.box {
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 16px;
}

.info {
  border-top: 1px solid var(--color-border);
  background-color: var(--color-background-light);
  padding: 8px;
  display: flex;
  gap: 0 4px;
}

.ingredients {
  composes: info;
  flex: 1;
}

.disciplines {
  margin-right: 4px;
  display: flex;
  gap: 2px;
}

.rating {
  padding-right: 16px;
  margin-right: auto;
}

.time {
  margin-right: 4px;
}

.unlocks {
  composes: info;
  flex-direction: column;
}
