.songColumn {
  width: 200px;
}

.upgrades {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  align-items: center;
  gap: 4px;
  line-height: 1;
}

.upgrade {
  position: relative;
}

.upgradeLocked {
  composes: upgrade;

  opacity: .5;
  filter: grayscale(.9);

  transition: all .3s ease;
}

.missingInApi {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  image-rendering: pixelated;
}

.upgradeLocked:hover {
  opacity: 1;
  filter: grayscale(0);
}

@media (max-width: 1760px) {
  .songColumn {
    width: 160px;
  }

  .upgrades {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (max-width: 1440px) {
  .songColumn {
    width: 1px;
  }
}

.songsTip {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.songMissing {
  color: var(--color-text-muted);
}
