.tip {
  width: 'max-content';
  background: var(--color-background);
  padding: 6px 12px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0 0 0 / .2);
  box-shadow: var(--shadow);
  font-size: 14px;
  z-index: 10;
  opacity: 1;
}
