
/* temp */
.item-link {
  text-decoration: none;
  color: #245dc1;
  line-height: 16px;
}

.item-link-32 {
  line-height: 32px;
}

.item-link > img {
  border-radius: 2px;
  margin-right: 4px;
  vertical-align: top;
}

.item-link > span {
  border-bottom: 2px solid transparent;
}

.item-link:hover > span {
  border-bottom-color: currentColor;
}

.count {
  display: inline-block;
  width: 48px;
  padding-right: 4px;
  text-align: right;
}

.count::after {
  content: '×'
}

.ingredients {
  margin: 0; padding: 0;
  list-style: none;
}

.ingredients > li + li { margin-top: 8px; }

.unlockedBy {
  margin-top: 16px;
}
