:root {
  color-scheme: light;

  --color-text: #000;
  --color-text-muted: #555;

  --color-background: #fff;
  --color-background-light: #f9f9f9;

  --color-border: #eee;
  --color-border-dark: #ddd;

  --color-focus: #245dc1;

  --color-rarity-ascended: #e70061;
  --color-rarity-basic: #111;
  --color-rarity-exotic: #d07900;
  --color-rarity-fine: #006ef7;
  --color-rarity-junk: #757575;
  --color-rarity-legendary: #b900b9;
  --color-rarity-masterwork: #178800;
  --color-rarity-rare: #c5a102;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-text: #dcddde;
    --color-text-muted: #999;

    --color-background: #36393f;
    --color-background-light: #303339;

    --color-border: #222428;
    --color-border-dark: #222428;

    --color-focus: #2196f3;

    --color-rarity-ascended: #ff006b;
    --color-rarity-basic: #cbcbcb;
    --color-rarity-exotic: #e19300;
    --color-rarity-fine: #5ea6ff;
    --color-rarity-junk: #a3a3a3;
    --color-rarity-legendary: #dd00dd;
    --color-rarity-masterwork: #2bbd0d;
    --color-rarity-rare: #f1c702;
  }
}
