
.search-box {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    padding: 20px 0 0;
    margin-bottom: 40px;

    h2 {
        margin-top: 0;
    }
}
.search-box__main-input {
    position: relative;
}
.search-box__main-input__input {
    float: left;
    width: calc(100% - 200px);
    min-width: 66%;

    font: inherit;
    border: 1px solid #ddd;
    padding: 8px 16px;

    position: relative;

    &:focus {
        border-color: #64b5f6;
        box-shadow: 0 0 10px rgba(#64b5f6, .5);
        outline: none;
        z-index: 1;
    }
}
.search-box__main-input__button {
    float: right;
    width: 200px;
    max-width: 34%;

    font: inherit;
    background: #ddd;
    border: 1px solid #ddd;
    padding: 8px 16px;

    position: relative;

    &:focus {
        border-color: #64b5f6;
        box-shadow: 0 0 10px rgba(#64b5f6, .5);
        outline: none;
        z-index: 1;
    }
}
.search-box__toggle-advanced {
    float: right;
    line-height: 26px;
}


.chatlinks {
    display: flex;
    flex-wrap: wrap;
}

.chatlink-box {
    background: #f9f9f9;
    border: 1px solid #eee;
    display: inline-block;
    overflow: hidden;
    margin: 0 8px 8px 0;
    vertical-align: top;
    width: calc((100% - 16px) / 3);
}
.chatlink-box:nth-child(3n) {
    margin-right: 0;
}

@media(max-width: 900px) {
    .chatlink-box {
        width: calc((100% - 8px) / 2);
    }

    .chatlink-box:nth-child(3n) {
        margin-right: 8px;
    }
    .chatlink-box:nth-child(2n) {
        margin-right: 0;
    }
}

@media(max-width: 500px) {
    .chatlink-box {
        display: block;
        width: 100%;
        margin: 8px 0 0 0 !important;
    }
}

.chatlink-box h3 {
    background: #fff;
    padding: 12px 8px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
}
.chatlink-box__content {
    padding: 8px;
}

.chatlink-box__table th {
    vertical-align: top;
    color: #222;
    font-weight: normal;
    text-align: left;
    padding-right: 8px;
}

.search-box__tab-container {
    margin: 0 -20px;
    position: relative;
    bottom: -1px;
    overflow-x: auto;
}

.search-box__tabs {
    display: flex;
    white-space: nowrap;
    margin-top: 28px;
}

.search-box__tabs__tab-spacer {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    flex: 0;
}

.search-box__tabs__tab {
    flex: 1;
    text-align: center;
    border: 1px solid #eee;
    padding: 12px 12px;
    color: #222;
    white-space: nowrap;
    display: inline-block;

    & + & {
        border-left: none;
    }

    &:hover {
        background: #fff;
        text-decoration: none;
    }

    &--active {
        background: #fff;
        font-weight: bold;
        border-bottom-color: #fff;
    }
}

.search-box__tabs__tab__count {
    background: #eee;
    font-size: 11px;
    padding: 3px 8px;
    font-weight: bold;
    margin-left: 2px;
    border: 1px solid #eee;

    .search-box__tabs__tab:hover > & {
        background: #f4f4f4;
    }

    .search-box__tabs__tab--active > &,
    .search-box__tabs__tab--active:hover > & {
        background: none;
        border: 1px solid #eee;
    }
}
