.button.button {
  border: transparent solid 1px;
  background: linear-gradient(color(from var(--color-background) srgb r g b / .9), color(from var(--color-background) srgb r g b / .9)) padding-box,
              linear-gradient(-55deg, transparent, transparent 33%, #a0447e, #f4763d, transparent 66%, transparent) border-box;
  background-size: 300% 100%;
  background-repeat: no-repeat;
  background-position: -15% 0;
  animation: flash ease-in-out 3s 2s;
}

@keyframes flash {
  0% { background-position-x: -15%; }
  100% { background-position-x: 115%; }
}

.button.button:hover:not(:disabled) {
  background: var(--color-background-light);
}

.dropdownDescription {
  margin: -8px -8px 12px;
  padding: 16px 24px;
  background-color: var(--color-background-light);
  border-bottom: 1px solid var(--color-border-dark);
  line-height: 1.5;
  max-width: 380px;
}

.buySub {
  color: var(--color-text-muted);
  margin-top: 4px;
  font-size: 14px;
  contain: inline-size;
  white-space: normal;
}
