.dropdown {
  --dropdown-color-border: var(--color-border-dark);

  border: 1px solid var(--dropdown-color-border);
  background: var(--color-background);
  padding: 8px;
  border-radius: 2px;
  box-shadow: var(--shadow);
  z-index: 2;
}

.arrow {
  --arrow-size: 8px;

  width: var(--arrow-size);
  height: var(--arrow-size);
  background: var(--color-background);
  border: 1px solid var(--dropdown-color-border);
  border-radius: 2px 0 0 0;
  position: absolute;
  transform: rotate(calc(45deg + 90deg * var(--arrow-side)));
  box-shadow: var(--shadow);
  clip-path: polygon(calc(var(--arrow-size) * -1) 0, calc(var(--arrow-size) * -1) calc(var(--arrow-size) * 2), calc(var(--arrow-size) * 2) calc(var(--arrow-size) * -1), 0 calc(var(--arrow-size) * -1));
}
