.outputColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
}

.unlock {
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-left: 16px;
}
