.outputColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
}

.unlock {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
