.link {
  color: #245dc1;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  overflow: hidden;
}

.name {
  text-decoration: underline transparent;
  transition: text-decoration-color .3s ease;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}

.link:hover .name {
  text-decoration-color: var(--color-rarity, currentColor);
  border-bottom-color: var(--color-rarity, currentColor);
}
