.objective {
  background-color: var(--color-background-light);
  border: 1px solid var(--color-border-dark);
  border-radius: 2px;
  padding: 8px 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.title {
  line-height: 32px;
  display: flex;
  gap: 8px;
}
