.notice {
  border-left: 4px solid #03a9f4;
  background-color: #03a9f422;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  --icon-color: #0288d1;
}

.warning {
  border-left-color: #ffc107;
  background-color: #ffc10722;
  --icon-color: #ffa000;
}

.error {
  border-left-color: #f44336;
  background-color: #f4433622;
  --icon-color: #f44336;
}

.content {
  flex: 1;
  margin: 0;
}
