.list {
  list-style: none;
  margin: 0;
  padding: 0;
  column-width: 420px;
  column-gap: 32px;
  column-count: 4;
  max-width: 2560px;
}

.list > li {
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  gap: 8px;

  /* use inline to fix column rendering in safari */
  display: inline-flex;
  width: 100%;
}
