.box {
  display: flex;
  margin: 8px 0 0;
  align-items: center;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px var(--color-border);
  transition: .3s ease box-shadow;
}

.box:focus-within {
  box-shadow: var(--shadow-focus);
}

.input {
  margin: 0;
  padding: 7px 12px 9px 12px;
  border: 0;
  background: inherit;
  color: inherit;
  flex: 1;
  font: inherit;
}

.icon {
  border-right: 1px solid var(--color-border);
  padding: 4px 12px 4px 16px;
}

.input:focus-visible {
  outline: none;
}
