.notice {
  border-left: 4px solid #03a9f4;
  background-color: #03a9f422;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.warning {
  border-left-color: #ffc107;
  background-color: #ffc10722;
}

.error {
  border-left-color: var(--color-error);
  background-color: #f4433622;
}

.notice .icon { --icon-color: #0288d1; }
.warning .icon { --icon-color: #ffa000; }
.error .icon { --icon-color: var(--color-error); }

.content {
  flex: 1;
  line-height: 1.5;
}
