.button {
  /* remove button styles */
  composes: reset from '@gw2treasures/ui/reset.module.css';

  background: none;
  cursor: pointer;
  color: inherit;

  display: block;
  width: calc(100% + 32px);
  margin: -8px -16px;
  padding: 8px 16px;
  text-align: inherit;
  border-radius: 2px;

  display: flex;
  gap: 8px;
  align-items: center;

  --chevron-rotate: 0deg;
  --chevron-wiggle: 15deg;
}

.button:focus-visible {
  box-shadow: var(--shadow-focus);
}

.button[aria-expanded=true] {
  --chevron-rotate: 90deg;
  --chevron-wiggle: 75deg;
}

.chevron {
  transform: rotate(var(--chevron-rotate));
  transition: transform .3s ease;
}

.button[disabled] {
  cursor: initial;
  color: var(--color-text-muted);
}

/* .button:hover > .chevron {
  animation: wiggle .3s ease-in-out;
}

@keyframes wiggle {
  0%, 100% { transform: rotate(var(--chevron-rotate)); }
  50% { transform: rotate(var(--chevron-wiggle)); }
}

*/

@media (prefers-reduced-motion) {
  .chevron {
    transition: none;
    animation: none !important;
  }
}

.totalCount {
  font-weight: 500;
}

.totalCountZero {
  composes: totalCount;
  color: var(--color-text-muted);
}

.locationCell {
  padding-left: 40px !important;
}

.locationInfo {
  color: var(--color-text-muted);
}

.icon {
  margin-right: 8px;
}
