.row + .row {
  margin-top: 8px;
}

.description {
  color: var(--color-text-muted);
}

.bonus {
  font-feature-settings: "tnum";
  color: var(--color-text-muted);
}

.attributes {
  display: grid;
  grid-template-columns: auto 1fr;
  line-height: 20px;
}

.attributes, .attributes > dt, .attributes > dd {
  margin: 0;
  padding: 0;
}

.attributes > dt {
  text-align: right;
}

.attributes > dd {
  margin-left: 8px;
}

.consumable {
  composes: row;

  display: flex;
  gap: 8px;
}

.consumableDetails {
  align-self: center;
}

.consumableName {
  margin-bottom: 4px;
}

.consumable .buff {
  color: var(--color-text-muted);
}

.value {
  color: #1E971E;
}

.unlocksColor {
  display: flex;
  gap: 8px;
}
