.title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;

  font-family: var(--font-bitter);
  color: var(--color-rarity);
}

.loading {
  line-height: 1.5;
}

.accountInventories:empty {
  display: none;
}

.topBorder {
  border-top: 2px solid var(--color-border);
  margin: 12px 0 0 0;
  padding: 12px 0 0 0;
}

.accountInventories {
  composes: topBorder;
  list-style: none;
}

.accountInventories > li {
  display: flex;
  justify-content: space-between;
}
.accountInventories > li + li {
  margin-top: 8px;
}

.accountName {
  color: var(--color-text-muted);
  margin-right: 16px;
}

.itemCount {
  font-feature-settings: "tnum";
}

.tradingPost {
  composes: topBorder;
}
