.loading_svg__path {
  animation: loading_svg_rotate 1s ease-in-out infinite;
  will-change: transform;
}

@media (prefers-reduced-motion) {
  .loading_svg__path {
    animation-timing-function: linear;
    animation-duration: 3s;
  }
}

@keyframes loading_svg_rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}
