.gw2treasures-icons__loading__path {
  animation: gw2treasures-icons__loading_rotate 1s ease-in-out infinite;
  will-change: transform;
  transform-origin: center center;
}

@media (prefers-reduced-motion) {
  .gw2treasures-icons__loading__path {
    animation-timing-function: linear;
    animation-duration: 3s;
  }
}

@keyframes gw2treasures-icons__loading_rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}
