.search {
  margin: 0 32px;
  border: 1px solid #fafafa;
  width: 468px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: background-color .3s ease, border-color .3s ease;
  font-size: 14px;
  position: relative;
  color: #000;
}

.search > svg {
  margin: 0 8px 0 16px;
  color: #888;
}

.search:focus-within {
  background-color: #fff;
  border-color: #eee;
}

.searchInput {
  border: 0;
  flex: 1;
  margin: 0;
  padding: 8px;
  font: inherit;
  background-color: transparent;
}

.searchInput:focus {
  outline: none;
}

.restriciton {
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 2px;
}

.dropdown {
  position: absolute;
  top: 32px;
  margin-top: 4px;
  font-size: 16px;
  background-color: #fff;
  left: 0;
  right: 0;
  padding: 8px 0;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  transition: opacity .3s ease;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}

.category {
  padding: 8px 16px;
  font-weight: bold;
}

.result {
  padding: 8px 16px;
  color: #000;
  display: grid;
  grid-template:
    "icon title"    min-content
    "icon subtitle" min-content /
    32px  auto;
  gap: 0 8px;
}

.resultActive {
  composes: result;

  background-color: #eee;
  text-decoration: none;
}

.result:hover, .result:focus {
  text-decoration: none;
}

.title {
  grid-area: title;
}

.subtitle {
  color: #555;
  grid-area: subtitle;
  font-size: 14px;
}
