.search {
  margin: 0 32px;
  border: none;
  box-shadow: 0 0 2px rgb(0 0 0 / 12%);
  width: 468px;
  background-color: var(--color-background-light);
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: background-color .3s ease, border-color .3s ease;
  font-size: 14px;
  position: relative;
  color: var(--color-text);
}

.search > svg {
  margin: 0 8px 0 16px;
  color: var(--color-text-muted);
}

.search:focus-within {
  background-color: var(--color-background);
  box-shadow: 0 1px 2px rgb(0 0 0 / 14%);
}

.searchInput {
  border: 0;
  flex: 1;
  margin: 0;
  padding: 8px;
  font: inherit;
  background-color: transparent;
  color: var(--color-text);
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  color: var(--color-text-muted);
}

.restriciton {
  padding: 4px 8px;
  background-color: var(--color-background);
  border-radius: 2px;
}

.dropdown {
  position: absolute;
  font-size: 16px;
  background-color: var(--color-background);
  padding: 8px 0;
  box-shadow: 0 4px 8px -1px rgb(0 0 0 / 10%);
  border-radius: 4px;
  transition: opacity .3s ease;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}

.category {
  padding: 8px 16px;
  font-weight: 500;
}

.result {
  padding: 8px 16px;
  color: var(--color-text);
  display: grid;
  grid-template:
    "icon title"    min-content
    "icon subtitle" min-content /
    32px  auto;
  gap: 0 8px;
}

.resultActive {
  composes: result;

  background-color: var(--color-background-light);
  text-decoration: none;
}

.result:hover, .result:focus {
  text-decoration: none;
}

.title {
  grid-area: title;
}

.subtitle {
  color: var(--color-text-muted);
  grid-area: subtitle;
  font-size: 14px;
}
