name: Docker (legacy)

on:
  push:
    branches: [ "legacy" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "legacy" ]

jobs:
  build:
    name: Build ${{ matrix.target }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        target: [ web, reverse-proxy, assets, storage, wvw-crawler ]
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
    - name: Build the Docker image
      uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
      with:
        workdir: legacy
        files: docker-compose.yml
        targets: ${{ matrix.target }}
        load: true
        set: |
          *.cache-from=type=gha,scope=build-${{ matrix.target }}
          *.cache-to=type=gha,scope=build-${{ matrix.target }},mode=max
    - name: Login to GitHub Container Registry
      if: github.event_name == 'push'
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Push image
      if: github.event_name == 'push'
      run: |
        IMAGE_ID=ghcr.io/${{ github.repository }}/legacy/${{ matrix.target }}
        # Change all uppercase to lowercase
        IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
        # Strip git ref prefix from version
        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        # Strip "v" prefix from tag name
        [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
        # Use Docker `latest` tag convention
        [ "$VERSION" == "legacy" ] && VERSION=latest
        echo IMAGE_ID=$IMAGE_ID
        echo VERSION=$VERSION
        docker tag gw2treasures/legacy/${{ matrix.target }} $IMAGE_ID:$VERSION
        docker push $IMAGE_ID:$VERSION
