name: Lint
on:
  workflow_call:


jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - name: Setup Node.js env
      uses: ./.github/actions/setup-node-env
      with:
        cache-key: lint
    - name: Run Lint
      run: pnpm run lint
