name: Publish (npm)
on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true


jobs:
  publish:
    name: ${{ matrix.target }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    strategy:
      matrix:
        target: [ ui, icons, helper, tsconfig, publish-package, eslint-config, eslint-plugin-nextjs ]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Setup Node.js env
      uses: ./.github/actions/setup-node-env
      with:
        # we have to skip the cache here, because publish-package#build needs to run,
        # or else the bin is not correctly linked
        cache-key: false
    - name: Run Publish
      run: pnpm run publish-package --filter=@gw2treasures/${{ matrix.target }} --env-mode=loose
      id: publish
      env:
        GITHUB_EVENT_NAME: ${{ github.event_name }}
    - name: Find Comment
      if: github.event_name == 'pull_request'
      uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad # v4
      id: fc
      with:
        issue-number: ${{ github.event.pull_request.number }}
        comment-author: 'github-actions[bot]'
        body-includes: Publish / npm / ${{ matrix.target }}
    - name: Delete comment if found but nothing will be published
      if: github.event_name == 'pull_request' && steps.fc.outputs.comment-id && !steps.publish.outputs.publish
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
      with:
        script: |
          github.rest.issues.deleteComment({
            owner: context.repo.owner,
            repo: context.repo.repo,
            comment_id: ${{ steps.fc.outputs.comment-id }}
          })
    - name: Add comment with packages to be published
      if: github.event_name == 'pull_request' && steps.publish.outputs.publish
      uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
      with:
        comment-id: ${{ steps.fc.outputs.comment-id }}
        issue-number: ${{ github.event.pull_request.number }}
        edit-mode: replace
        body: |
          **Publish / npm / ${{ matrix.target }}**
          Merging this PR will publish the npm package `${{ steps.publish.outputs.package }}@${{ steps.publish.outputs.version }}` as `${{ steps.publish.outputs.tag }}`.
