name: Validate renovate config
on:
  workflow_call:

env:
  # renovate: datasource=npm packageName=renovate
  RENOVATE_VERSION: 43.0.9

jobs:
  validate-config:
    name: Validate config
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version: 24.13.0
        package-manager-cache: false
    - name: Validate config
      run: npx -p renovate@${{ env.RENOVATE_VERSION }} renovate-config-validator --strict
