name: Validate renovate config
on:
  workflow_call:

env:
  # renovate: datasource=npm packageName=renovate
  RENOVATE_VERSION: 42.78.2

jobs:
  validate-config:
    name: Validate config
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 24.12.0
        package-manager-cache: false
    - name: Validate config
      run: npx -p renovate@${{ env.RENOVATE_VERSION }} renovate-config-validator --strict
