name: Test
on:
  workflow_call:


jobs:
  unit:
    name: Unit
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - name: Setup Node.js env
      uses: ./.github/actions/setup-node-env
      with:
        cache-key: test
    - name: Run Test
      run: pnpm run test
