.toc {
  position: sticky;
  top: 48px;
  padding: 16px 0;
  margin: 0;
  list-style: none;
}

.item {

}

.jumpItem {
  composes: item;

  height: 0;
  overflow: hidden;
}

.jumpItem:focus-within {
  height: initial;
  overflow: initial;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;

  line-height: 1.5;
  padding: 4px 0 4px 12px;
  border-left: 4px solid var(--color-border);
  cursor: pointer;
}

.link:hover {
  background-color: var(--color-background-light);
  border-left-color: var(--color-border-dark);
}

.link:focus-visible {
  outline: none;
  box-shadow: var(--shadow-focus);
}

.activeLink {
  composes: link;

  border-left-color: var(--color-rarity, var(--hero-color, var(--color-text)));
}

.activeLink:hover {
  border-left-color: var(--color-rarity, var(--hero-color, var(--color-text)));
}

.anchor {
  position: absolute;
}
