.icon {
  vertical-align: -2px;
  width: var(--icon-size, 16px);
  height: var(--icon-size, 16px);
  color: var(--icon-color, currentColor);

  /* svgs promoted to their own layer render better for some reason */
  will-change: transform;
}
